
# bde.set
# compilation.order
# compile.cfg
# Edfmap.ini
# projlib.cfg
# library.cfg
# SIMD_Multimedia_Unit
# SIMD_Multimedia_Unit.adf
# SIMD_Multimedia_Unit.wsp
# stimulators.set
# synthesis.order

# compile/
# log/
# SIMD_Multimedia_Unit/


/*
/*/
!.gitignore
!README.md
!/src/
/src/Utils.java
/src/binary_output.txt
/src/wave.asdbw/
/src/wave.asdb